extends layout

block content
  h1 Welcome to Hostel Mess Management System
  p
    a(href='/studentLogin') Student Login
  p
    a(href='/employeeLogin') Employee Login
  p
    a(href='/createAccount') Create Account
  p
    a(href='/contact') Contact Us
